{% extends "proj_base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<h1>Om denna sida:</h1>
<p> Denna sida är del av Projektet och den examinerande delen av kursen DV1608 V23 lp4 Objektorienterade webbteknologier för Nadja Spångberg.
Sidan länkas till från egen report-sida som utvecklats under kursens gång. Denna webbsida är menad att upplevas som en egen webbsida med egen design och funktion.
</p>
<p> På denna webbsida finns alterniv som att spela ett egenskapat BlackJackspel samt läsa om dess regler.
Det finns även en del där man som besökare kan ta del av 5 st JSON-routes.
</p>
<p>
I projektet som redovisas genom denna webbsida kan man spela en eller flera klassiska rundor BlackJack.
Som besökare är du spelare och får möta dealern med upp till 3 händer.
Du får vid start av spelet en pott med pengar bestående av 500 Coronas (Coronas är webbsidans valuta). Du kan efter avslutad runda fortsätta att spela ytterligare rundor
med dina befintliga poäng. Skulle pengarna ta slut kan besökaren alltid starta om genom att välja "nytt Spel!".
</p>


{% endblock %}
