{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<a href="{{ path('card_start') }}"><button>TILLBAKA</button></a>
<h1>Draw card [START]</h1>

<p>Hur många kort vill du dra?</p>

<form method="post" action="">
    <input type="number" name="num_dices" min="1" max="1" value="1">
    <input type="submit" name="do_it" value="Dra kort!">
</form>

{% endblock %}