body {
    margin: 0 auto;
    background-color: #E9DCD1;
}

main {
    --s: 10px;
    padding: 2rem;
    margin: 0 auto;
    max-width: 80%;
    align-items: center;
    background-color: #ececec;
}

.center {
    text-align: center;
}

.frame {
    --s: 10px; /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}

.crazy h1 {
    border-bottom: 4px double #ccc;
    color:#ccc;

}

h1 {
    border-bottom: 4px double #ccc;
}

.crazy {
    padding: 10%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

h1 .crazy{
    margin: 0 auto;
    border-bottom: 4px double #ccc;
    color: #fff;
}

footer {
    background-color: #6793D1;
    padding: 1%;
    color: white;
    text-align: center;
}

.site-header {
    position: relative;
    background-size: cover;
}

.site-title {
    color: #fff;
    font-size: 2em;
}

.flex {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-column: 2;
}

.flex .one {
    grid-column: 1 / span 1;
}

.flex .two {
    grid-column: 2 / span 1;
    padding-left: 2rem;
}


.flex .left {
    grid-column: 1 / span 1;
    text-align: right;
}

.flex .center {
    grid-column: 2 / span 1;
    text-align: center
}

.flex .right {
    grid-column: 3 / span 1;
    text-align: left;
}


a {
    text-decoration: none;
}

.two-col-layout {
    display: flex;
    flex-direction: row;
    padding: 1rem;

}

.article {
    padding-left: 1rem;
}
.two-col-layout > .main {
    width: calc(100% / 16 * 12); /* 12/16 width */

}

.two-col-layout > .aside {
    width: calc(100% / 16 * 4); /* 4/16 width */
}

.aside {
    border-right: 4px solid #ccc;
    padding: 2rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C9A290;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #505050;
}


.site-header {
    padding: 12%;
}
/* *npm run build */

.board {
    padding: 10%;
    background-color: rgb(1, 99, 1);
    border-radius: 8px;
    top:0;
}

.stop{
    background-image: url("../../img/stop.png")
}

.flash-success {
    padding: 0.5em;
    color: #03791f;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #e90707;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.flash-error {
    padding: 0.5em;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.row {
    display: flex;
    flex-direction: row;
}