{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="center">
        <a href="{{ asset('img/nasp22.jpg') }}">
            <img src="{{ asset('img/nasp22.jpg') }}" alt="" style="border-radius: 50%; width: 20%;">
        </a>
        <p>Nadja Spångberg</p>
        <p>akronym: nasp22</p>
    </div>
    <p>
        Jag heter Nadja Spångberg (32år) och bor på Värmdö med min fästman (Jonas), son (Hugo-3år) och Hund (Dino - Grand Danois/Rottwieler).</p>
    <p> Jag älskar att utvecklas och lära sig nya saker. Dock brukar det inte stanna där, utan jag vill gärna genomgående förstå hur saker fungerar.
        Behovet av att skapa har alltid funnits med och minst ett projekt är igång hela tiden. Nuvarande projekt att renovera ett gammalt fritidshus börjar närma sig sitt slut och dörrarna har därmed öppnats för ett nytt: Webbprogrammering!
        Problemlösning är något som jag går igång på, oavsett nivå. Kanske har det med min envisa sida att göra eller så är det känslan av att man
        både lär sig nya saker och löser problemet som är tilltalande. Meningen "Det fungerar inte" finns inte i mitt vokabulär. Då anser jag hellre att vägen till lösningen bara inte var korrekt.
    </p>
    <p> Ett mål i livet är att tillsammans med min fästman kunna bedriva verksamhet hemifrån digialt. Då vi varken själva eller någon i vår närhet har kunskapen att skapa dessa förutsättningar valde jag att nu ta saken i mina egna händer.
    </p>
    <p>Ekonomi, detaljhandel, administation och djurvård är några av flera tidigare arbetsområden.
    </p>
        {% endblock %}