{% extends "base.html.twig" %}

{% block title %}Redovisa{% endblock %}

{% block body %}

    <h2>KMOM01</h2>
    {% extends "kmom01.html.twig" %}
    <h2>KMOM02</h2>
    <h2>KMOM03</h2>
    <h2>KMOM04</h2>
    <h2>KMOM05</h2>
    <h2>KMOM06</h2>

        {% endblock %}