{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}

<div class="hero-image" style="background-image: url('https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061_960_720.jpg'); height: 500px;">
    <div class="hero-text">
        <h1>Välkommen till {{ controller_name }}!</h1>
        <a href="{{ path('book_show_all') }}">
            <button class="button">
                Kliv in!
            </button>
        </a>
    </div>
</div>
{% endblock %}